<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | 404 Page not found</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
{{style(assetsUrl('admin/fontawesome-free/css/all.min.css'))}}
<!-- Ionicons -->
{{style('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')}}
<!-- Theme style -->
{{style(assetsUrl('admin/css/adminlte.css'))}}
<!-- Google Font: Source Sans Pro -->
    {{style('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700')}}
</head>
<body class="">
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>

            <p>
                We could not find the page you were looking for.
                Meanwhile, you may <a href="{{baseUrl('')}}">return to dashboard</a> or try using the search
                form.
            </p>

            <form class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" name="submit" class="btn btn-warning"><i
                                    class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /.input-group -->
            </form>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>


<!-- jQuery -->
{{script(assetsUrl('admin/js/jquery/jquery.min.js'))}}
<!-- Bootstrap 4 -->
{{script(assetsUrl('admin/js/bootstrap.bundle.js'))}}
<!-- AdminLTE App -->
{{script(assetsUrl('admin/js/adminlte.js'))}}
<!-- AdminLTE for demo purposes -->
{{script(assetsUrl('admin/js/demo.js'))}}
</body>
</html>
