<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>B.O.B | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
{{style(assetsUrl('admin/fontawesome-free/css/all.min.css'))}}
<!-- Ionicons -->
{{style('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')}}
<!-- icheck bootstrap -->
{{style(assetsUrl('admin/icheck-bootstrap/icheck-bootstrap.min.css'))}}
<!-- Theme style -->
{{style(assetsUrl('admin/css/adminlte.css'))}}
<!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <b>B.O.B</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            @if(flashMessage('error'))
                <div class="alert alert-danger" role="alert">
                    {{ flashMessage('error') }}
                </div>
            @elseif(flashMessage('success'))
                <div class="alert alert-success" role="alert">
                    {{ flashMessage('success') }}
                </div>
            @endif
            <form action="{{ baseUrl('admin/login') }}" method="POST">
                {{ csrfField() }}
                <div class="input-group mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email"
                           value="{{ old('email', '') }}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
{{script(assetsUrl('admin/js/jquery/jquery.min.js'))}}
<!-- Bootstrap 4 -->
{{script(assetsUrl('admin/js/bootstrap.bundle.js'))}}
<!-- AdminLTE App -->
{{script(assetsUrl('admin/js/adminlte.js'))}}

</body>
</html>
