<tr><td>{{row.id}}</td><td>{{row.name}}</td><td>{{row.age}}</td><td>{{row.description}}</td><td>{{row.created_at}}</td><td>{{row.updated_at}}</td><td>
        <form action="{{baseUrl('admin/delete-test/')+row.id}}" method="GET">
            <a href="{{baseUrl('admin/test/')+row.id}}" class="btn btn-primary"><i
                        class="fas fa-eye"></i></a>
            <a href="{{baseUrl('admin/edit-test/')+row.id}}" class="btn btn-info"><i
                        class="fas fa-edit"></i></a>
            <a href="#" class="delete-btn btn btn-danger"><i
                        class="fas fa-trash-alt"></i></a>
        </form>
    </td>
</tr>
