<footer class="main-footer">
    <strong>Copyright &copy; {{dateFormat('','Y')}} <a href="{{constant('website')}}" target="_blank">{{constant('projectName')}}</a>.</strong>
    All rights reserved.
</footer>